@font-face {
    src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf");
    font-family: 'Roboto';
}
* {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    color: #ffffff;
    background-color: #252525;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #252525;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #ff4400;
    text-decoration: none;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

header .navbar ul li a:hover{
    background-color: #141414;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #3d3d3d;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

/* MEDIA */

@media (max-width: 662px){
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:#3d3d3d;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #505050;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}